
body {
  height: 100vh;
  font-family: "Jua", sans-serif;
  color: white;
  font-size: 25px;
  text-align: center;
  background: linear-gradient(to right, blue
  , #c2e59c);
}

 /*
   그라데이션  background: linear-gradient(to right, #64b3f4, #c2e59c);
  */

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 500px;
  width: 80%;
  transform: translate(-50%, -50%);
}

#image {
  width: 350px;
  height: 350px;
}
/*
아이콘 이미지
*/

#city {
  font-size: 100px;
  color: white;
}

#temp {
  font-size: 100px;
  color: white;
}

form {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  border-radius: 25px;
  padding: 5px;
}

input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
}

.fa {
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: white;
  text-align: center;
  transition: all 1s;
}

form:hover {
  width: 200px;
  cursor: pointer;
}

form:hover input {
  display: block;
}

form:hover .fa {
  background: linear-gradient(to right, #ffc371, #ff5f6d);
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  vertical-align:middle;
}
 

 
p {
  margin:0px;
  display:inline-block;
  font-size:15px;
  font-weight:bold;
}


#slash {
  font-size: 100px;
}


.measure {
  padding: 6px;
  border-radius: 100%;
  color: white;
  transition: all 0.3s;
  

}

.measure:hover {
  cursor: pointer;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.392);
}
